
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-light" id="portfolio">

    <div class="container">
        <div class="row">
            <h1 style="font-size: 25px;text-align: center;margin-bottom: 28px;">Contact us</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4752.480810383373!2d105.77547461523851!3d10.028913675286415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a062a8990f568d%3A0x2a22d599b2c06b23!2zxJDhuqFpIEjhu41jIEdyZWVud2ljaCAoVmnhu4d0IE5hbSkgLSBDxqEgc-G7nyBD4bqnbiBUaMah!5e1!3m2!1svi!2s!4v1646487980365!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

            <div class="container" style="margin-left: 20%;margin-right: 20%;margin-top:20px;width: 800px;">
                <ul class="list-group">
                    <li class="list-group-item"><span><i class="fas fa-phone-alt"></i><b>  Phone: </b><a href="tel:0398371050" style="color:black;text-decoration:none">0398371050</a></span></li>
                    <li class="list-group-item"><span><i class="fas fa-envelope-open"></i><b>  Email: </b><a href="mailto:phonglhgcc19022@fpt.edu.vn" style="color: black; text-decoration: none">phonglhgcc19022@@fpt.edu.vn</a></span></li>
                    <li class="list-group-item"><span><i class="fab fa-facebook-square"></i><b>  Facebook: </b><a href="https://www.facebook.com/richard.luu.19022" target="_blank" style="color: black; text-decoration: none">Luu Hoai Phong</a></span></li>
                    <li class="list-group-item">
                        <span>
                            <i class="fas fa-home"></i><b>  Address: </b>160, 30/4 Street, An Phu Ward, Ninh Kieu District, Can Tho city
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

